@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root {
  --color-background: #f8f9fa;
  --color-mask: rgba(0, 0, 0, 0.5);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}
@layer base {
  button:focus {
    outline: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  min-height: 100vh;
  background: var(--color-background);
}
